.Name {
    font-weight: 300;
    color: blue;
}
.School {
    color: crimson;
}
.Total {
    color: darkmagenta;
}
.formatstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: large;
    margin: 0;
    padding: 0;
}

body, #root {
    height: 100vh;
    margin: 0;
    padding: 0;
}
.Score {
    color: forestgreen;
}
